<h1>Ändra ticket</h1>

<%= form_for @ticket do |f| %>
	<div class="alert alert-block">  
		<%= f.error_messages %>
	</div>
	<div class="text_field">
		<%= f.label :title%>
		<%= f.text_field :title%>
	</div>
	<div class="text_field">
		<%= f.label :description%>
		<%= f.text_field :description%>
	</div>
	<div class="dropdown">
		<%= f.label :start_date%>
		<%= f.date_select :start_date %>
	</div>
	<div class="dropdown">
		<%= f.label :end_date%>
		<%= f.date_select :end_date %>
	</div><br/>
	<div class="selectbox">
		<%= f.select :ticket_status_id, options_from_collection_for_select(TicketStatus.all, :id, :status_name, @ticket.ticket_status_id) %>
	</div>
</div>
	<div class="submit">
		<%= f.submit "Spara" %>
	</div>
<% end %>